doctype html
html
  head
    title 
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='https://kit.fontawesome.com/47791c3aa0.js' crossorigin='anonymous')
  body
    main
      block header
        header.header
          h1 Wynntils Tickets
      block content
        h4 All tickets
        div.list
          each ticket in callback
            div.card
              div.card_content
                h1.card_header 
                i.fas.fa-ticket-alt 
                  | #{ticket.name}
                - if (ticket.name !==undefined)
                  p.card_information Case: #{ticket.case}
                  p.card_information Ticket Name: #{ticket.name}
                - else
                  p.card_information Case: #{ticket.case}
                a.button(href='/ticket/' + ticket.id) View Ticket

