/* ==========================================================================
   #STYLES
   ========================================================================== */

/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */

/* RESET
   ========================================================================== */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	/* [1] */
	margin: 0;
	padding: 0;
}

/* FONTS
   ========================================================================== */

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	/* [2] */
}

/* VARIABLES
	==========================================================================*/
:root {
	--not-quite-black: #23272A;
	--dark-but-not-black: #2C2F33;
}

/* Header
   ========================================================================== */

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background-color: var(--not-quite-black);
	color: #ffffff;
	position: fixed;
	top: 0;
}

.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background-color: var(--not-quite-black);
	color: #ffffff;
	position: fixed;
	bottom: 0;
}

.chatline .user {
	font-weight: 600;
	margin-right: 5px;
}

.backLink {
	position: absolute;
	left: 20px;
}

.ticket {
	height: 100%;
	width: 100%;
	margin-bottom: 80px;
	margin-top: 80px;
}

.chatline {
	padding-left: 10px;
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: var(--dark-but-not-black);
}

.avatar {
	width: 32px;
	border-radius: 50%;
	margin-right: 5px;
}

.attachment {
	width: 50%;
	display: block;
	padding: 10px;
}

p.chatline:nth-child(2n+1) img {
	content: url("https://cdn.discordapp.com/embed/avatars/0.png")
}

p.chatline:nth-child(2n) img {
	content: url("https://cdn.discordapp.com/embed/avatars/2.png")
}